global:
  whitelist:
    - jason@jasonstillerman.com
    - mary@jasonstillerman.com

  permissions:
    - roles/iam.securityReviewer
    - roles/iam.securityAdmin

  notify:
    chatrooms:
      - https://chat.googleapis.com/v1/spaces/OMITTED
      - https://chat.googleapis.com/v1/spaces/NOPE
    emails:
      - jason.t.stillerman@gmail.com
      - js.skate.board@gmail.com

mongodb-277417:
  whitelist:
    - bob@jasonstillerman.com

  blacklist:
    - jason@jasonstillerman.com

  permissions:
    - roles/iam.mongodbSpecific

  notify:
    chatrooms:
      - https://specific.chatroom.for.this.proj/asdf
    emails:
      - jtstille@uvm.edu

OAuthClientId: xxxx
SendGridKey: xxxxx
