---
apiVersion: v1
kind: Secret
metadata:
  name: breakglass
  namespace: breakglass
data:
  GCP_CREDENTIALS: # encode using base64
  OAUTH_CLIENT_ID: # encode using base64
  SENDGRID_KEY: # encode using base64

